In [ ]:
#Q1. Creating variable using 
#(i)strings

In [2]:
a = "Monu Sharma"

In [ ]:
#(ii)lists

In [3]:
b = [2,34,455,544,564,"sddf",[2,3,45,5],6,67]

In [4]:
#(iii)float

In [5]:
c = 455.23

In [6]:
#(iv)tuple

In [7]:
d = (2,34,54,545,34)

In [9]:
#Q2. Data type of variable
#(i)	var1 =  ‘ ‘

In [10]:
var1 = ''

In [11]:
type(var1)

str

In [12]:
#(ii)	var2 = ‘[ DS , ML , Python]’

In [13]:
var2 = '[DS,ML,Python]'

In [14]:
type(var2)

str

In [15]:
#(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

In [16]:
var3 = ['DS','ML','Python']

In [17]:
type(var3)

list

In [18]:
#(iv)	var4 = 1.

In [19]:
var4 = 1.

In [20]:
type(var4)

float

In [ ]:
#Q3.  Explaining the use of the  operators using an example:

In [23]:
#(i)	/
# / This operator is used for division one number to another.Example
48/5

9.6

In [24]:
#(ii)	%
#  % This operator is used for getting remainder when number is divided .eg
48%5

3

In [25]:
#(iii)	//
#  // It shows quotients when number is divided .eg
422//48

8

In [26]:
#(iv)	**
#  ** It is used for adding powers .eg
12**12

8916100448256

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [29]:
l = [11,45,78,45,[1,2,5,8],'story',45.2,-45,(45,8,5),58]

In [30]:
for i in l :
    print(i,type(i))

11 <class 'int'>
45 <class 'int'>
78 <class 'int'>
45 <class 'int'>
[1, 2, 5, 8] <class 'list'>
story <class 'str'>
45.2 <class 'float'>
-45 <class 'int'>
(45, 8, 5) <class 'tuple'>
58 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible

In [41]:
a = 512
b = 2
count = 0
while a % b == 0 :
    a //= b
    count += 1
print(count)

9

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [46]:
m  = [14,15,78,42,69,84,47,485,15,68,24,58,65,489,25,19,18,24,58,26,14,48,47,45,55]

In [49]:
for i in m :
    if i%3==0 :
        print(i,'is divisible by 3')
    else :
        print(i,'is not divisible by 3')

14 is not divisible by 3
15 is divisible by 3
78 is divisible by 3
42 is divisible by 3
69 is divisible by 3
84 is divisible by 3
47 is not divisible by 3
485 is not divisible by 3
15 is divisible by 3
68 is not divisible by 3
24 is divisible by 3
58 is not divisible by 3
65 is not divisible by 3
489 is divisible by 3
25 is not divisible by 3
19 is not divisible by 3
18 is divisible by 3
24 is divisible by 3
58 is not divisible by 3
26 is not divisible by 3
14 is not divisible by 3
48 is divisible by 3
47 is not divisible by 3
45 is divisible by 3
55 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data types can be changed after they are created in python while immutable data types cannot be changed.
example of mutable data-

In [52]:
l1 = [1,5,2]
l1.append(0)
l1

[1, 5, 2, 0]

example of immutable data-

In [53]:
l1 = (1,5,2)
l1.append(0)
l1

AttributeError: 'tuple' object has no attribute 'append'